{% extends 'base_html/base.html' %}
{% block content %}
<br>
<br>
<!-- Title to landing page -->
<table>
  <tr>
    <td>
      <div class="main-V2">
        <h1> My Digital Portfolio...</h1>
      <h3> 
      <p>This is my submission for CMT 120 Software Engineering. It is a digital portfolio of my Education from College onwards, some of my favourite Experiences and past Work. This Web App is designed for you to tour around and learn more about me, through this Digital Portfolio. I hope you enjoy learning more about me, my Education, Experiences and Work so far.</p>
      </h3>
      </div>
    </td>
  </tr>
</table>


<br>
<br>

<!-- About me section -->
<table width="100%">
    <tr>
        <td>
            <div class="main-V2" width="50%">
                <h2>About me</h2>
                <h3>I seek challenge, adventure and growth. I have cycled from Bilbao to Venice, learnt the python coding language and trained in Mixed Martial Arts. These challenges developed my skills of focus, resilience and an eagerness to learn.</h3>
                <br>
                <h2>Proffessional Profile</h2>
                <h3>I am proactive, professional and driven. I've taken the initiative in caring for clients as a general support worker, been proactive in designing private estate vegetable gardens as a gardener, presented professionally in high stake team meetings and used my drive to work hard designing as a Graduate Landscape Architect.</h3>
              </div>
        </td>

        <!-- Image of JPM -->
        <td width="50%">
            <img src="../static/img/JP_Pic.jpg" alt="JP_Portrait" class="image">
        </td>
    </tr>
</table>

<br> 
<br>



<!-- Tabbed Menu -->
<div id="Topics" class="tabcontent">
  <h1>Topics</h1>
  <p>These tabs show the topics covered in this portfolio.</p>
</div>

<div id="Education" class="tabcontent">
  <h1>Education</h1>
  <p>Learn about my education.</p>
  <button class="tablink" onclick="window.location.href='EducationPage'"><h3>Learn more</h3></button></li>
</div>

<div id="Work" class="tabcontent">
  <h1>Work</h1>
  <p>Learn about my work.</p>
  <button class="tablink" onclick="window.location.href='Work'"><h3>Learn more</h3></button></li>
</div>

<div id="Experience" class="tabcontent">
  <h1>Experience</h1>
  <p>Learn about my experiences.</p>
  <button class="tablink" onclick="window.location.href='Experience'"><h3>Learn more</h3></button></li>
</div>


<button class="tablink" onclick="openCity('Topics', this, 'black')" id="defaultOpen">Topics</button>
<button class="tablink" onclick="openCity('Education', this, 'black')">Education</button>
<button class="tablink" onclick="openCity('Work', this, 'black')">Work</button>
<button class="tablink" onclick="openCity('Experience', this, 'black')">Experience</button>

<!-- Tabbed menu JS script -->
<script>
function openCity(cityName, elmnt, color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(cityName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

document.getElementById("defaultOpen").click();
</script>






<!-- List of skills and pop up -->
<div class="main-V2">
  <table>
    <tr>
      <h2>My Skills</h2>
        <h3>Click on the buttons inside the tabbed menu:</h3>
    </tr>
    <tr>

      <td width="33.3%">
      <ul>
      <h2>Artwork</h2>
      <button class="myButton" data-popup="popup1">
        Read more
      </button>

      <h2>Flute</h2>
      <button class="myButton" data-popup="popup2">
        Read more
      </button>

      <h2>Gardener</h2>
      <button class="myButton" data-popup="popup3">
        Read more
      </button>

      <h2>Mixed Martial Arts</h2>
      <button class="myButton" data-popup="popup4">
        Read more
      </button>

      <h2>Landscape Architecture</h2>
      <button class="myButton" data-popup="popup5">
        Read more
      </button>
 
      <h2>Rugby</h2>
      <button class="myButton" data-popup="popup6">
        Read more
      </button>


      <div id="popup1" class="popup">
        <div class="popup-content">
          <h1>
            Artwork
          </h1>
          <p>I have painted for many years, including for a personal project called Tree Monster Art. I like using acrylics and drawing to create high contrast, visually striking artwork. My art usually has a theme or idea it depicts, to tell a story or evoke an idea or emotion.</p>
          <button class="closePopup">
            Close
          </button>
        </div>
      </div>

      <div id="popup2" class="popup">
        <div class="popup-content">
          <h1>
            Flute
          </h1>
          <p>I started learning to play the flute in Secondary school around the age of 12 or 13. I've kept it up as a past time, however I'm not as good as I used to be. Although I only have a Grade 1 Distinction ABRSM ceritificate in flute. However, at my best, during which I didn't want to do further exams in flute, my teacher said I could play upto Grade 7 music.</p>
          <button class="closePopup">
            Close
          </button>
        </div>
      </div>

      <div id="popup3" class="popup">
        <div class="popup-content">
          <h1>
            Gardener
          </h1>
          <p>I've always enjoyed nature and being outside. This was in part inspired by my Grandad who I helped in his garden. Later on this lead me to horticulture and my degree in Landscape Architecture. I have helped build Silver, Gold and Platinum award winning show gardens, worked on privagte estate's and amassed lots of experience.</p>
          <button class="closePopup">
            Close
          </button>
        </div>
      </div>

      <div id="popup4" class="popup">
        <div class="popup-content">
          <h1>
            Mixed Martial Arts
          </h1>
          <p>I started Mixed Martial Arts, known as MMA, during Univeristy when I did kickboxing. This later lead to me doing some Taekwondo and eventually MMA. I trained at an MMA gym in Manchester alongside cage fighters and belt winners at Predators MMA. I am currently training with Cardiff University MMA society and plan to continue it in one form or another until I die, hopefully of natural causes. </p>
          <button class="closePopup">
            Close
          </button>
        </div>
      </div>

      <div id="popup5" class="popup">
        <div class="popup-content">
          <h1>
            Landscape Architecture
          </h1>
          <p>I did an Undergraduate degree in Landscape Architecture, or LA, at the University of Gloucestershire in Cheltenham before working as a Graduate Landscape Architect in Manchester. However I eventually quit after a life quake, causing a cycle journey through Europe and am my career pivot into tech.</p>
          <button class="closePopup">
            Close
          </button>
        </div>
      </div>

      <div id="popup6" class="popup">
        <div class="popup-content">
          <h1>
            Rugby
          </h1>
          <p>Partially during my Undergraduate days and then more when I was back home I played Rugby as a winger for a while. I really enjoyed it, learned loads and made some great friends too. I currently don't have time for it in my life but it is something I do immensely enjoy.</p>
          <button class="closePopup">
            Close
          </button>
        </div>
      </div>


      <!-- Popup script -->
      <script>
        var buttons = document.querySelectorAll(".myButton");
        buttons.forEach(function (button) {
          button.addEventListener("click", function () {
            var popupId = this.getAttribute("data-popup");
            var popup = document.getElementById(popupId);
            popup.classList.add("show");
          });
        });

        var closeButtons = document.querySelectorAll(".closePopup");
        closeButtons.forEach(function (closeButton) {
          closeButton.addEventListener("click", function () {
            this.closest(".popup").classList.remove("show");
          });
        });

        window.addEventListener("click", function (event) {
          if (event.target.classList.contains("popup")) {
            event.target.classList.remove("show");
          }
        });
      </script>

      </ul>
      </td>
      <!-- Popup content -->
      <td width="66.7%">

      <!-- Container for the image gallery -->
      <div class="container">
        <div class="mySlides">
            <div class="numbertext">1 / 6</div>
          <img src="../static/img/Art.jpg" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 6</div>
          <img src="../static/img/Flute.jpg" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 6</div>
          <img src="../static/img/Haddon_Hall.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 6</div>
          <img src="../static/img/MMA.jpg" style="width:100%">
        </div>

        <div class="mySlides">
          <div class="numbertext">5 / 6</div>
            <img src="../static/img/Landscape_Architecture.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 6</div>
          <img src="../static/img/Rugby.jpg" style="width:100%">
          </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Image text -->
        <div class="caption-container">
            <p id="caption"></p>
        </div>

        <!-- Thumbnail images -->
        <div class="row">
           <div class="column">
             <img class="demo cursor" src="../static/img/Art.jpg" style="width:100%" onclick="currentSlide(1)" alt="Art work">
           </div>
           <div class="column"> 
              <img class="demo cursor" src="../static/img/Flute.jpg" style="width:100%" onclick="currentSlide(2)" alt="Flute">
            </div>
            <div class="column">
             <img class="demo cursor" src="../static/img/Haddon_Hall.jpg" style="width:100%" onclick="currentSlide(3)" alt="Haddon Hall">
          </div>
            <div class="column">
            <img class="demo cursor" src="../static/img/MMA.jpg" style="width:100%" onclick="currentSlide(4)" alt="MMA">
          </div>
          <div class="column">
               <img class="demo cursor" src="../static/img/Landscape_Architecture.jpg" style="width:100%" onclick="currentSlide(5)" alt="Landscape Architecture">
            </div> 
          <div class="column">
             <img class="demo cursor" src="../static/img/Rugby.jpg" style="width:100%" onclick="currentSlide(6)" alt="Rugby">
          </div>
          </div>
        </div>

      <!-- Script for slides -->
      <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
           showSlides(slideIndex = n);
        }

        function showSlides(n) {
           var i;
           var slides = document.getElementsByClassName("mySlides");
           var dots = document.getElementsByClassName("demo");
           var captionText = document.getElementById("caption");
           if (n > slides.length) {slideIndex = 1}
           if (n < 1) {slideIndex = slides.length}
           for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
           for (i = 0; i < dots.length; i++) {
             dots[i].className = dots[i].className.replace(" active", "");
           }
           slides[slideIndex-1].style.display = "block";
           dots[slideIndex-1].className += " active";
           captionText.innerHTML = dots[slideIndex-1].alt;
        }
      </script>
        </div>
      <br>
      <br>
      <br>

      <!-- Comment section -->
      <table>
        <tr>
          <td width ='33.3%'></td>
          <td width ='33.3%'>
            <form id="comment-form" action="{{ url_for('add_comment') }}" method="post">
              <label for="name"><h2>Name:</h2></label>
              <input type="text" id="name" name="name">
              <label for="comment"><h3>Comment:</h3></label>
              <textarea id="comment" name="comment" width="'33.3%"></textarea>
              <!-- Add the hidden input field for page name -->
              <input type="hidden" name="page" value="Index">
              <button type="submit" class="closePopup">Submit</button>
            </form>
    
            <!-- Display Comments -->
            <div id="comments">
              {% for comment in comments %}
                  <div class="comment" width = '33.3%'>
                      <p><strong>{{ comment[1] }}:</strong> {{ comment[2] }}</p>
                  </div>
              {% endfor %}
          </td>
          <td width="33.3%"></td>
        </tr>
      </table>


      </td>
    </tr>
  </table>
</div>

{% endblock %}
